<div class="requirement">
        <div class="container">
            <div class="Admin-Access">
                <div class="invite">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-orange pull-right">+ invite</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <h4>User Details</h4>
                    <div class="sub-body">
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="header">
                                            <h5>Jay Ram Divvala</h5>
                                            <h6>Tech@gmail.com </h6> <span>Sub Admin</span> </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-blue" data-toggle="collapse" data-parent="#accordion" data-target="#page-settings">Page Settings</button>
                                        <button class="btn btn-blue" data-toggle="collapse" data-parent="#accordion" data-target="#profile-settings">Profile Settings</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-grey">Delete</button>
                                    </div>
                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel">
                                        <div id="page-settings" class="panel-collapse collapse">
                                            <div class="access_collapse ">
                                                <h5>Allow your Sub Admin to do Activities</h5>
                                                <ul>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-2"><span>Create</span></div>
                                                            <div class="col-md-2"><span>Edit</span></div>
                                                            <div class="col-md-2"><span>View</span></div>
                                                            <div class="col-md-2"><span>Delete</span></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Dashboard</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>My Connections</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Activites</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Home</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div id="profile-settings" class="panel-collapse collapse">
                                            <div class="access_collapse ">
                                                <h5>Allow your Sub Admin to do Activities</h5>
                                                <ul>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-2"><span>Create</span></div>
                                                            <div class="col-md-2"><span>Edit</span></div>
                                                            <div class="col-md-2"><span>View</span></div>
                                                            <div class="col-md-2"><span>Delete</span></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Dashboard</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>My Connections</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Activites</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Home</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="header">
                                            <h5>Jay Ram Divvala</h5>
                                            <h6>Tech@gmail.com </h6> <span>Sub Admin</span> </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-blue" data-toggle="collapse" data-parent="#accordion-2" data-target="#page-settings-2">Page Settings</button>
                                        <button class="btn btn-blue" data-toggle="collapse" data-parent="#accordion-2" data-target="#profile-settings-2">Profile Settings</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-grey">Delete</button>
                                    </div>
                                </div>
                                <div class="panel-group" id="accordion-2">
                                    <div class="panel">
                                        <div id="page-settings-2" class="panel-collapse collapse">
                                            <div class="access_collapse ">
                                                <h5>Allow your Sub Admin to do Activities</h5>
                                                <ul>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-2"><span>Create</span></div>
                                                            <div class="col-md-2"><span>Edit</span></div>
                                                            <div class="col-md-2"><span>View</span></div>
                                                            <div class="col-md-2"><span>Delete</span></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Dashboard</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>My Connections</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Activites</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Home</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div id="profile-settings-2" class="panel-collapse collapse">
                                            <div class="access_collapse ">
                                                <h5>Allow your Sub Admin to do Activities</h5>
                                                <ul>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-2"><span>Create</span></div>
                                                            <div class="col-md-2"><span>Edit</span></div>
                                                            <div class="col-md-2"><span>View</span></div>
                                                            <div class="col-md-2"><span>Delete</span></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Dashboard</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>My Connections</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Activites</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Home</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="header">
                                            <h5>Jay Ram Divvala</h5>
                                            <h6>Tech@gmail.com </h6> <span>Sub Admin</span> </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-blue" data-toggle="collapse" data-parent="#accordion-3" data-target="#page-settings-3">Page Settings</button>
                                        <button class="btn btn-blue" data-toggle="collapse" data-parent="#accordion-3" data-target="#profile-settings-3">Profile Settings</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-grey">Delete</button>
                                    </div>
                                </div>
                                <div class="panel-group" id="accordion-3">
                                    <div class="panel">
                                        <div id="page-settings-3" class="panel-collapse collapse">
                                            <div class="access_collapse ">
                                                <h5>Allow your Sub Admin to do Activities</h5>
                                                <ul>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-2"><span>Create</span></div>
                                                            <div class="col-md-2"><span>Edit</span></div>
                                                            <div class="col-md-2"><span>View</span></div>
                                                            <div class="col-md-2"><span>Delete</span></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Dashboard</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>My Connections</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Activites</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Home</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div id="profile-settings-3" class="panel-collapse collapse">
                                            <div class="access_collapse ">
                                                <h5>Allow your Sub Admin to do Activities</h5>
                                                <ul>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-2"><span>Create</span></div>
                                                            <div class="col-md-2"><span>Edit</span></div>
                                                            <div class="col-md-2"><span>View</span></div>
                                                            <div class="col-md-2"><span>Delete</span></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Dashboard</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>My Connections</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Activites</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-4"><span>Home</span></div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange">
                                                                    <input type="checkbox" value="None" /> </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="checkbox-orange"> NA </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>