 <div class="requirement">
        <div class="container">
            <div class="Work_portfolio">
                <div class="add">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-blue-hallow pull-right"> Add&nbsp;&nbsp; <i class="fa fa-plus" aria-hidden="true"></i></button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="leftt"> <img src="html/build/images/my-profile.png" alt=""> </div>
                            </div>
                            <div class="col-md-9">
                                <div class="rightt">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Poject Name</label>
                                            <label class="control-label col-xs-1">:</label>
                                            <div class="col-xs-9">
                                                <p class="form-control-static">Mobile development</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Domain</label>
                                            <label class="control-label col-xs-1">:</label>
                                            <div class="col-xs-9">
                                                <p class="form-control-static">IT</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Discription</label>
                                            <label class="control-label col-xs-1">:</label>
                                            <div class="col-xs-9">
                                                <p class="form-control-static">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'C ontent here, content here', making it look lcy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2"></label>
                                            <label class="control-label col-xs-1"></label>
                                            <div class="col-xs-9 ">
                                                <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="30000" id="carousel1">
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                    </div> <a class="left carousel-control" href="#carousel1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a> <a class="right carousel-control" href="#carousel1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
                                       <div class="body">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="leftt"> <img src="html/build/images/my-profile.png" alt=""> </div>
                            </div>
                            <div class="col-md-9">
                                <div class="rightt">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Poject Name</label>
                                            <label class="control-label col-xs-1">:</label>
                                            <div class="col-xs-9">
                                                <p class="form-control-static">Mobile development</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Domain</label>
                                            <label class="control-label col-xs-1">:</label>
                                            <div class="col-xs-9">
                                                <p class="form-control-static">IT</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2">Discription</label>
                                            <label class="control-label col-xs-1">:</label>
                                            <div class="col-xs-9">
                                                <p class="form-control-static">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'C ontent here, content here', making it look lcy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-2"></label>
                                            <label class="control-label col-xs-1"></label>
                                            <div class="col-xs-9 ">
                                                <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="30000" id="carousel2">
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="col-md-2 col-sm-6 col-xs-12">
                                                                <a href="#"><img src="html/build/images/my-profile.png" class="img-responsive"></a>
                                                            </div>
                                                        </div>
                                                    </div> <a class="left carousel-control" href="#carousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a> <a class="right carousel-control" href="#carousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>