<div>
    <headsec></headsec>
    <div class="container">
        <div class="recent_feeds_activities">
            <div class="page">
                <!-- feeds -->
                <section class="main-section">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <div class="page-headerr">
                                <div class="row">
                                    <div class="col-md-12"> <span class="span-head">Recent Activities :</span> <a href="Javascript:void(0)" [class.active]="Show==0" (click)="Show=0">Feeds</a><a href="Javascript:void(0)" [class.active]="Show==1" (click)="Show=1">Follow <span>(6)</span></a> <a href="Javascript:void(0)" [class.active]="Show==2" (click)="Show=2">Profile</a> </div>
                                </div>
                            </div>
                            <div *ngIf="Show==0">
                                <div class="page-body">
                                    <div class="header"> <img src="html/build/images/avatar.png"> <span>User Likes</span> </div>
                                    <div class="d1">
                                        <header>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="company-logo"> <img src="html/build/images/tss.jpg" /> </div>
                                                    <div class="content-header">
                                                        <div class="pull-right"> <span class="sp1">Posted On <span >10-Oct-15</span></span>
                                                            <div class="dropdown"> <i class="fa fa-chevron-down dropdown-toggle" aria-hidden="true"
                                                                    data-toggle="dropdown"></i>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#">Delete</a></li>
                                                                    <li><a href="#" data-toggle="modal" class="copy-link-select"
                                                                            data-target=".copy-link-popup">Copy link to share </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <h4>Techsimplified</h4>
                                                        <h6>Sridhar Kunchala, The Director</h6>
                                                        <p>400 Connections</p>
                                                        <p>555 Followers</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="content-body">
                                            <h4>The beast was there showing the way The beast was there showing </h4>
                                            <div class="content-img-div"> <img src="html/build/images/tss-cover.jpg" /> </div>
                                            <div class="contentt">
                                                <p> Climbing over one and around another trying to keep from falling into the
                                                    cavernous valleys below. In amazement from a-top the beast's back, a
                                                    lake radianting iridescent blues and greens, wavering explosive roar
                                                    emitted from the beast's belly. BThe beast was there showing the way
                                                    Boulders were the scales upon it's back Climbing over one and around
                                                    another trying to keep from falling into the cavernous valleys below.
                                                    In amazement from a-top the beast's back, a lake radianting iridescent
                                                    blues and greens, wavering as an explosive roar emitted from the beast's
                                                    belly. ulders were the scales upon it's back below. In amazement from
                                                    a-top the beast's back, a lake radianting iridescent blues and greens,
                                                    wavering </p>
                                            </div>
                                        </div>
                                        <footer>
                                            <div class="like-comments"> <span>
                                <span class="fa fa-thumbs-o-up" aria-hidden="true">
                                    <span>Unlike</span> <span>53</span> </span>
                                                </span> <span>
                                <span class="fa fa-commenting" aria-hidden="true">
                                <span>Comments</span> <span>23</span> </span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="add-comments">
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> <img src="http://www.positivemomsmagazine.com/wp-content/uploads/avatars/1/abd14ed302c20085061ea0209260c712-bpthumb.png"
                                                            width="auto" height="auto" alt=""> </div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                        <input type="text" placeholder="Comment"> </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                                                        <button class="btn btn-blue-inverse">Post</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </footer>
                                    </div>
                                </div>
                                <!--change-->
                                <div class="page-body">
                                    <div class="header"> <img src="html/build/images/avatar.png"> <span>User Likes</span> </div>
                                    <div class="d1">
                                        <header>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="company-logo"> <img src="html/build/images/tss.jpg" /> </div>
                                                    <div class="content-header">
                                                        <div class="pull-right"> <span class="sp1">Posted On <span >10-Oct-15</span></span>
                                                            <div class="dropdown"> <i class="fa fa-chevron-down dropdown-toggle" aria-hidden="true"
                                                                    data-toggle="dropdown"></i>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#">Delete</a></li>
                                                                    <li><a href="#" data-toggle="modal" class="copy-link-select"
                                                                            data-target=".copy-link-popup">Copy link to share </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <h4>Techsimplified</h4>
                                                        <h6>Sridhar Kunchala, The Director</h6>
                                                        <p>400 Connections</p>
                                                        <p>555 Followers</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="content-body">
                                            <h4>The beast was there showing the way The beast was there showing </h4>
                                            <div class="content-img-div"> <img src="html/build/images/tss-cover.jpg" /> </div>
                                            <div class="contentt">
                                                <p> Climbing over one and around another trying to keep from falling into the
                                                    cavernous valleys below. In amazement from a-top the beast's back, a
                                                    lake radianting iridescent blues and greens, wavering explosive roar
                                                    emitted from the beast's belly. BThe beast was there showing the way
                                                    Boulders were the scales upon it's back Climbing over one and around
                                                    another trying to keep from falling into the cavernous valleys below.
                                                    In amazement from a-top the beast's back, a lake radianting iridescent
                                                    blues and greens, wavering as an explosive roar emitted from the beast's
                                                    belly. ulders were the scales upon it's back below. In amazement from
                                                    a-top the beast's back, a lake radianting iridescent blues and greens,
                                                    wavering </p>
                                            </div>
                                        </div>
                                        <footer>
                                            <div class="like-comments"> <span>
                                <span class="fa fa-thumbs-o-up" aria-hidden="true">
                                    <span>Unlike</span> <span>53</span> </span>
                                                </span> <span>
                                <span class="fa fa-commenting" aria-hidden="true">
                                <span>Comments</span> <span>23</span> </span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="add-comments">
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> <img src="http://www.positivemomsmagazine.com/wp-content/uploads/avatars/1/abd14ed302c20085061ea0209260c712-bpthumb.png"
                                                            width="auto" height="auto" alt=""> </div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                        <input type="text" placeholder="Comment"> </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                                                        <button class="btn btn-blue-inverse">Post</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </footer>
                                    </div>
                                </div>
                                <!--change-->
                                <div class="page-body">
                                    <div class="header"> <img src="html/build/images/avatar.png"> <span>User Likes</span> </div>
                                    <div class="d1">
                                        <header>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="company-logo"> <img src="html/build/images/tss.jpg" /> </div>
                                                    <div class="content-header">
                                                        <div class="pull-right"> <span class="sp1">Posted On <span >10-Oct-15</span></span>
                                                            <div class="dropdown"> <i class="fa fa-chevron-down dropdown-toggle" aria-hidden="true"
                                                                    data-toggle="dropdown"></i>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#">Delete</a></li>
                                                                    <li><a href="#" data-toggle="modal" class="copy-link-select"
                                                                            data-target=".copy-link-popup">Copy link to share </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <h4>Techsimplified</h4>
                                                        <h6>Sridhar Kunchala, The Director</h6>
                                                        <p>400 Connections</p>
                                                        <p>555 Followers</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="content-body">
                                            <h4>The beast was there showing the way The beast was there showing </h4>
                                            <div class="content-img-div"> <img src="html/build/images/tss-cover.jpg" /> </div>
                                            <div class="contentt">
                                                <p> Climbing over one and around another trying to keep from falling into the
                                                    cavernous valleys below. In amazement from a-top the beast's back, a
                                                    lake radianting iridescent blues and greens, wavering explosive roar
                                                    emitted from the beast's belly. BThe beast was there showing the way
                                                    Boulders were the scales upon it's back Climbing over one and around
                                                    another trying to keep from falling into the cavernous valleys below.
                                                    In amazement from a-top the beast's back, a lake radianting iridescent
                                                    blues and greens, wavering as an explosive roar emitted from the beast's
                                                    belly. ulders were the scales upon it's back below. In amazement from
                                                    a-top the beast's back, a lake radianting iridescent blues and greens,
                                                    wavering </p>
                                            </div>
                                        </div>
                                        <footer>
                                            <div class="like-comments"> <span>
                                <span class="fa fa-thumbs-o-up" aria-hidden="true">
                                    <span>Unlike</span> <span>53</span> </span>
                                                </span> <span>
                                <span class="fa fa-commenting" aria-hidden="true">
                                <span>Comments</span> <span>23</span> </span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="add-comments">
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> <img src="http://www.positivemomsmagazine.com/wp-content/uploads/avatars/1/abd14ed302c20085061ea0209260c712-bpthumb.png"
                                                            width="auto" height="auto" alt=""> </div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                        <input type="text" placeholder="Comment"> </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                                                        <button class="btn btn-blue-inverse">Post</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </footer>
                                    </div>
                                </div>
                                <!--change-->
                            </div>
                            <div *ngIf="Show==1" class="recent_followings">
                                
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left">
                                                <div class="header">
                                                    <h4>You Following</h4>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-blue-inverse">Show More</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right">
                                                <div class="header">
                                                    <h4>Followers</h4>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                                            <div class="imgg"><img src="html/build/images/bosch.jpg" data-pin-nopin="true"> </div>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                                            <div class="desc">
                                                                <h5>Bosch</h5>
                                                                <h6>Robert Bosch GmbH</h6>
                                                                <h6>Engineering company</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-blue-inverse">Show More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="Show==2" class="recent_profile_updates">
                                <div class="page-body ">
                                    <div class="profile-content">
                                        <div class="row">
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="profile-content-img"> <img src="html/build/images/tss.jpg" /> </div>
                                            </div>
                                            <div class="col-sm-11 col-md-11 col-lg-11">
                                                <div class="profile-contentt">
                                                    <h4>TechSimplified
                                                        <span class="pull-right">Posted On <span>10-Oct-15</span></span>
                                                    </h4>
                                                    <h5>User Updated Profile</h5>
                                                    <div class="awards"> <span>AWARDS  :  <span>Sample text sample words about this session </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="profile-content">
                                        <div class="row">
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="profile-content-img"> <img src="html/build/images/tss.jpg" /> </div>
                                            </div>
                                            <div class="col-sm-11 col-md-11 col-lg-11">
                                                <div class="profile-contentt">
                                                    <h4>TechSimplified
                                                        <span class="pull-right">Posted On <span>10-Oct-15</span></span>
                                                    </h4>
                                                    <h5>User Updated Profile</h5>
                                                    <div class="awards"> <span>AWARDS  :  <span>Sample text sample words about this session </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-content">
                                        <div class="row">
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="profile-content-img"> <img src="html/build/images/tss.jpg" /> </div>
                                            </div>
                                            <div class="col-sm-11 col-md-11 col-lg-11">
                                                <div class="profile-contentt">
                                                    <h4>TechSimplified
                                                        <span class="pull-right">Posted On <span>10-Oct-15</span></span>
                                                    </h4>
                                                    <h5>User Updated Profile</h5>
                                                    <div class="awards"> <span>AWARDS  :  <span>Sample text sample words about this session </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-content">
                                        <div class="row">
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="profile-content-img"> <img src="html/build/images/tss.jpg" /> </div>
                                            </div>
                                            <div class="col-sm-11 col-md-11 col-lg-11">
                                                <div class="profile-contentt">
                                                    <h4>TechSimplified
                                                        <span class="pull-right">Posted On <span>10-Oct-15</span></span>
                                                    </h4>
                                                    <h5>User Updated Profile</h5>
                                                    <div class="awards"> <span>AWARDS  :  <span>Sample text sample words about this session </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-content">
                                        <div class="row">
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="profile-content-img"> <img src="html/build/images/tss.jpg" /> </div>
                                            </div>
                                            <div class="col-sm-11 col-md-11 col-lg-11">
                                                <div class="profile-contentt">
                                                    <h4>TechSimplified
                                                        <span class="pull-right">Posted On <span>10-Oct-15</span></span>
                                                    </h4>
                                                    <h5>User Updated Profile</h5>
                                                    <div class="awards"> <span>AWARDS  :  <span>Sample text sample words about this session </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="page-headerr"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ads </div>
                            <div class="page-body bg-transparent">
                                <div class="d3"> <img src="html/build/images/sample-ads.png"> </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal fade copy-link-popup" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Copy link</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="copytxt" class="form-control" value="http://www.linkedin.com/" />
                            <button data-copytarget="#copytxt" class="btn ">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>